@using TimeTracker.Models
@page "/"

<div class="card text-center">
    <h2>Work Items</h2>
    <Items WorkItems="WorkItems" />


    <button @onclick="AddItem" class="btn btn-success mx-auto w-25 mb-3">Add</button>
</div>

@code {

    public List<WorkItem> WorkItems = new List<WorkItem>();
    public List<Project> Projects = new List<Project>();

    public void AddItem()
    {
        WorkItem item = new WorkItem("", new Project(0m, ""));
        WorkItems.Add(item);
    }

    public bool DeleteItem()
    {

    }

}