@using TimeTracker.Models
@page "/"


<Items>
    <RowTemplate Context="wItem">
        <td>@wItem.Name</td>
        <td>@wItem.Project.Name</td>
        <td>@wItem.Project.Time</td>
    </RowTemplate>
</Items>

@code {

    public List<WorkItem> WorkItems = new List<WorkItem>();
    public List<Project> Projects = new List<Project>();

}