@using TimeTracker.Models
@using System.Diagnostics.CodeAnalysis

<table class="table table-bordered">
    <thead>
        <tr>
            <th class="w-25">Name</th>
            <th class="w-25">Project</th>
            <th class="w-25">Time</th>
        </tr>
    </thead>
    <tbody>
        @if (WorkItems is not null)
        {
            @foreach (var item in WorkItems)
            {
                <tr>
                    <td><input class="form-control text-center" @bind-value="@item.Name" /></td>
                    <td><input class="form-control text-center" @bind-value="@item.Project.Name" /></td>
                    <td><input class="form-control text-center" @bind-value="@item.Project.Time" /></td>
                    <td><button @onclick="DeleteItem" class="btn btn-danger">Delete</button></td>
                </tr>
            }
        }
    </tbody>
</table>



@code {

    [Parameter, AllowNull]
    public List<WorkItem> WorkItems { get; set; }

    [Parameter]
    public EventCallback<bool> DeleteItem { get; set; }

}

