@inherits LayoutComponentBase

<div class="">
    <main>
        <div class="text-center px-4">
            <h1>Time Tracker</h1>
        </div>

        <article class="container-fluid px-4">
            @Body
        </article>
    </main>
</div>

