@using TimeTracker.Models
@using System.Diagnostics.CodeAnalysis

<table class="table table-bordered">
    <thead>
        <tr>
            <th class="w-50">Project</th>
            <th class="w-50">Time</th>
        </tr>
    </thead>
    <tbody>
        @if (Projects is not null)
        {
            @foreach (var project in Projects)
            {
                <tr>
                    <td>
                        @if (WorkItems != default)
                        {
                            <select class="form-select">
                                <option selected>Choose project</option>
                                @foreach (var item in WorkItems)
                                {
                                    @if (!string.IsNullOrEmpty(item.Project.Name))
                                    {

                                        <option id="@item.Id" value="@item.Project.Name">@item.Project.Name</option>
                                    }
                                }
                                @*<option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>*@
                            </select>
                        }
                    </td>
                    <td>@project.Time</td>
                </tr>
            }
        }
    </tbody>
</table>



@code {

    // Add dropdown to Timecard to choose project based on the project names already present in work items table
    // Pass work items here
    [Parameter, AllowNull]
    public List<Project> Projects { get; set; }

    [Parameter, AllowNull]
    public List<WorkItem> WorkItems { get; set; }






}

