<div class="container-fluid">
    <div class="row justify-content-between">
        <h3 class="col text-start">Total:</h3>
        @if (TotalValue == 8)
        {
            <span class="col h3 text-end text-success">@TotalDisplayValue</span>
        }

        else if (TotalValue > 8)
        {
            <span class="col h3 text-end text-danger">@TotalDisplayValue</span>
        }

        else
        {
            <span class="col h3 text-end">@TotalDisplayValue</span>
        }
    </div>
</div>

@code {
    [Parameter]
    public decimal TotalValue { get; set; }
    [Parameter]
    public string? TotalDisplayValue { get; set; }
}

